.draw-setting {
  position: absolute;
  left: 15px;
  top: 15px;
  background: #f7f7f8;
  bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.1s ease-in-out;

  .module-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60px;
    padding: 0;

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0;
      width: 3px;
    }

    .el-scrollbar {
      height: 100%;
    }

    .box-draw-setting {
      padding: 20px;
      padding-right: 0;
      box-sizing: border-box;
      //transform: scale(0.88);
      .header {
        font-size: 16px;
        color: #333;
        margin-bottom: 22px;
        margin-top: 16px;
        vertical-align: middle;
        letter-spacing: 1px;
      }
      .options {
        width: 100%;
        .option-item {
          width: 76px;
          height: 76px;
          float: left;
          margin-bottom: 8px;
          margin-right: 8px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          transition: all .2s;
          background-clip: padding-box, border-box;
          background-origin: padding-box, border-box;
          border: 3px solid transparent;
          &.active {
            background-image: linear-gradient(to right,#333333, #333333),linear-gradient(270deg,#FF5CE4 0%, #36C2FF 100%);
          }
          img {
            width: 100%;
            height: 100%;
          }
          span {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 36px;
            line-height: 44px;
            white-space: nowrap;
            text-align: center;
            z-index: 9;
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%)
          }
        }

        textarea {
          transition: all 0.1s;
          &:focus {
            border-color: #10a37f !important;
          }
        }
        .el-upload {
          transition: all 0.1s;
          background: #fff;
          &:hover {
            border-color: #10a37f !important;
            .avatar-uploader-icon {
              color: #10a37f !important;
            }
          }
        }
      }
      .size-item {
        width: 76px;
        height: 110px;
        float: left;
        margin-bottom: 8px;
        margin-right: 8px;
        border-radius: 10px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
        transition: all .2s;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        border: 2px solid #e2e2e2;
        padding: 10px;
        background-color: #fff;
        &.active {
          border-color: transparent;
          background-image: linear-gradient(to right,#fff, #fff), linear-gradient(270deg, #FF5CE4 0%, #36C2FF 100%);
          .size-block {
            background-image: linear-gradient(270deg,#ff5ce4 0%,#36c2ff 100%);
          }
        }
        .size-block {
          margin: 0 auto;
          background-image: linear-gradient(to right,#ddd, #ddd);
          border-radius: 4px;
          transition: all .2s;
          &.size0 {
            width: 52px;
            height: 39px;
          }
          &.size1 {
            width: 39px;
            height: 52px;
          }
          &.size2 {
            width: 52px;
            height: 52px;
          }
          &.size3 {
            width: 52px;
            height: 29px;
          }
          &.size4 {
            width: 29px;
            height: 52px;
          }
        }
        span {
          position: absolute;
          left:0;
          bottom: 0;
          display: block;
          width: 100%;
          height: 32px;
          line-height: 32px;
          color: #333;
          font-size: 14px;
        }
      }
    }

  }
  .module-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    .box-wallet {
      height: 40px;
      background: linear-gradient(30deg, #f7debe, #f4c384);
      border-radius: 5px;
      margin: 10px;
      padding: 8px 10px 5px 15px;
      box-sizing: border-box;
      color: #9a5b12;
      transition: opacity 0.1s ease-in-out;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 1px;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 0.8;
      }

      .icon {
        font-size: 18px;
        margin-right: 5px;
      }
      span {
        font-size: 16px;
        font-weight: bold;
        margin: 0 5px;
      }
    }
  }
}
.size-big {
  .draw-setting {
    width: 450px;
    .box-draw-setting {
      width: 450px;
      .module-footer {
        .box-wallet {
          width: 430px;
        }
      }
    }
  }
  .wrapper {
    left: 465px;
  }
}
.size-small {
  .draw-setting {
    width: 250px;
    .box-draw-setting {
      width: 250px;
    }
    .module-footer {
      .box-wallet {
        width: 230px;
      }
    }
  }
  .wrapper {
    left: 265px;
  }
}
